{% include "hackathonHeader.html" %}
<!DOCTYPE html>
<html>
<head>
  <title>Huella de Carbono</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css">
  <link rel="stylesheet" href="/static/css/styles.css">

  <style type="text/css">
    html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 75%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
  </style>
</head>
<body>   
  <form method="">
  {% csrf_token %}
  <section class="single-item slider">
    <div>
      <div class="tittle">
        Mi Casa
      </div>
      <div class="section">
        <div class="preguntas casa">

          <div class="pregunta"> 
            ¿En qué zona vives? 
          </div>
          <div class="respuesta">
            <label>Respuesta: </label>
            <input type="number" name="zona" min="1" max="25"/>
          </div>

          <div class="pregunta">
            ¿Cuántas personas viven en tu casa?  
          </div>
          <div class="respuesta">
            <label>Respuesta: </label>
            <input type="number" name="fam" min="1" max="25"/>  
          </div>

          <div class="pregunta">
            ¿Cuánto tiempo tardas en bañarte?  
          </div>
          <div class="respuesta">
            <label class="control control--radio">5 Minutos
              <input type="radio" name="time"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">10 Minutos
              <input type="radio" name="time"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">15 Minutos
              <input type="radio" name="time"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">20 Minutos
              <input type="radio" name="time"/>
              <div class="control__indicator"></div>
            </label>
          </div>

          <div class="pregunta">
            ¿Cuándo salgo de un cuarto apago la luz?
          </div>
          <div class="respuesta">
            <label class="control control--radio">Sí
              <input type="radio" name="luz"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">No
              <input type="radio" name="luz"/>
              <div class="control__indicator"></div>
            </label>
          </div>

        </div>
          <div class="image">
            <img src="/static/img/casa.png">
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="section">
        
       <div class="preguntas transporte">

          <div class="pregunta">
            ¿Cuántos vehiculos hay en tu casa?
          </div>
          <div class="respuesta">
            <label>Respuesta:</label>
            <input type="number" name="autos" min="1" max="25"/>
          </div>

          <div class="pregunta">
            ¿Cómo llegas a la escuela?
          </div>
          <div class="respuesta">
            <label class="control control--radio">A Pie o en Bicicleta
              <input type="radio" name="time"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Bus Escolar o Transporte Publico
              <input type="radio" name="time"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">En Carro
              <input type="radio" name="time"/>
              <div class="control__indicator"></div>
            </label>
          </div>

        </div>
          <div class="image">
            <img src="/static/img/auto.png">
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="tittle">
        Mi Alimentación
      </div>
      <div class="alimentos">
        <div class="section">
          <div class="preguntas comida">

          <div class="pregunta">
            ¿Qué tan seguido comes frutas y verduras?
          </div>
          <div class="respuesta">
            <label class="control control--radio">Todos los días
              <input type="radio" name="fruta"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">De vez en cuando
              <input type="radio" name="fruta"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Pocas ceces
              <input type="radio" name="fruta"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Nunca
              <input type="radio" name="fruta"/>
              <div class="control__indicator"></div>
            </label>
          </div>

          <div class="pregunta">
            ¿Qué tan seguido comes comida rapida?
          </div>
          <div class="respuesta">
            <label class="control control--radio">Todos los días
              <input type="radio" name="comida"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">De vez en cuando
              <input type="radio" name="comida"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Pocas veces
              <input type="radio" name="comida"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Nunca
              <input type="radio" name="comida"/>
              <div class="control__indicator"></div>
            </label>
          </div>

          <div class="pregunta">
            ¿Que tan seguido comes comida enlatada?
          </div>
          <div class="respuesta">
            <label class="control control--radio">Todos los días
              <input type="radio" name="enlata"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">De vez en cuando
              <input type="radio" name="enlata"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Pocas veces
              <input type="radio" name="enlata"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Nunca
              <input type="radio" name="enlata"/>
              <div class="control__indicator"></div>
            </label>
          </div>

        </div>

          <div class="image">
            <img src="/static/img/comida.png">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="tittle">
        Mis Compras
      </div>
      <div>
        <div class="section">
      
           <div class="preguntas compras">

          <div class="pregunta">
            ¿Cuándo vas de compras utilizas bolsas de plastico?
          </div>
          <div class="respuesta">
            <label class="control control--radio">Sí
              <input type="radio" name="plastico"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">No
              <input type="radio" name="plastico"/>
              <div class="control__indicator"></div>
            </label>
          </div>

          <div class="pregunta">
            ¿Cuándo usas hojas de papel las utilizas de ambos lados?
          </div>
          <div class="respuesta">
            <label class="control control--radio">Sí
              <input type="radio" name="papel"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">No
              <input type="radio" name="papel"/>
              <div class="control__indicator"></div>
            </label>
          </div>

        </div>

          <div class="image">
            <img src="/static/img/dinero.png">
          </div>

        </div>
      </div>
      <button id="send-button">Enviar</button>
    </div>
  </section>
  </form>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="/static/slick/slick.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/HCSendData.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
      $(".single-item").slick({
        dots: true,
        slidesToShow: 1,
        speed: 300,
        adaptiveHeight: true
      });
    });
  </script>

</body>
</html>