<!DOCTYPE html>
<html>
<head>
	<title>High Scores</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/styleScores.css">
</head>
<body>
	<h1>Resultados de la Semana</h1>
	<table>
		<thead>
			<th>
				<div class="tittle">Posición</div>
			</th>
			<th>
				<div class="tittle">Usuario</div>
			</th>
			<th>
				<div class="tittle">Resultado</div>
			</th>
			<th>
				<div class="tittle">Fecha</div>
			</th>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="position">1</div>
				</td>
				<td>
					maicol
				</td>
				<td>
					180
				</td>
				<td>
					3/9/2016
				</td>
			</tr>
			<tr>
				<td>
					2
				</td>
				<td>
					Watson
				</td>
				<td>
					163
				</td>
				<td>
					3/9/2016
				</td>
			</tr>
			<tr>
				<td>
					3
				</td>
				<td>
					mkLovin16
				</td>
				<td>
					155
				</td>
				<td>
					3/9/2016
				</td>
			</tr>
			<tr>
				<td>
					4
				</td>
				<td>
					DiegoJacobs
				</td>
				<td>
					152
				</td>
				<td>
					3/9/2016
				</td>
			</tr>
			<tr>
				<td>
					5
				</td>
				<td>
					jjosuefong
				</td>
				<td>
					150
				</td>
				<td>
					3/9/2016
				</td>
			</tr>
			<tr>
				<td>
					6
				</td>
				<td>
					johan
				</td>
				<td>
					23
				</td>
				<td>
					4/9/2016
				</td>
			</tr>
			<tr>
				<td>
					7
				</td>
				<td>
					jhonny
				</td>
				<td>
					22
				</td>
				<td>
					3/9/2016
				</td>
			</tr>
			<tr>
				<td>
					8
				</td>
				<td>
					sheldon
				</td>
				<td>
					20
				</td>
				<td>
					3/9/2016
				</td>
			</tr>
			<tr>
				<td>
					9
				</td>
				<td>
					jack
				</td>
				<td>
					12
				</td>
				<td>
					4/9/2016
				</td>
			</tr>
			<tr>
				<td>
					10
				</td>
				<td>
					Jowy
				</td>
				<td>
					10
				</td>
				<td>
					4/9/2016
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>