{% include "hackathonHeader.html" %}
<!DOCTYPE html> 

<html>
	<body>
		<div class="container content">
			<div class="container">
				<div class="wrapper">
					<img class="world-complete" src="/static/img/World.png" alt="">
				</div>
				<div class="wrapper percentage-2">
					<img class="world-percentage" src="/static/img/World.png" alt="">
				</div>
			</div>
			</br>
			</br>
			<h4 class="resultado">
				Si todos llevaramos tu mismo estilo de vida, necesitariamos 1.2 mundos!
			</h4>
			</br>
			</br>
			</br>
			</br>
			<h1>Aqui hay algunos consejos para reducir tu huella de carbono</h1>
		</div>
	</body>
	

</html>
